@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans&display=swap');


//Fonts
$base-color: #333;
$base-size: 16px;
$base-family:'Roboto', sans-serif;

$article-heading-family: 'Fira Sans', sans-serif;
$article-heading-size: 20px;

//Breakpoints
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;
